<%= stylesheet_link_tag "zoos", property: "stylesheet" %>
<%= javascript_include_tag "zoosnapz" %>

<div class="container" data-ng-app="Zoosnapz">
  <!-- <header class="page-header">
    <h1><a data-ui-sref="zooIndex">ZoosnapZ</a></h1>
  </header> -->
  <main data-ui-view>

  </main>
</div>
