<h2>{{animal.common_name}}</h2>
<div class="animals-grid">
  <img class="square" src="{{animal.image_one}}" alt="{{animal.common_name}}">
  <img class="square" src="{{animal.image_two}}" alt="{{animal.common_name}}">
</div>
<h4>Scientific Name: {{animal.scientific_name}}</h4>
<h4>Location in Zoo: {{animal.zoo_location}}</h4>
<h4 data-ng-click="physical=!physical">Physical Description <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></h4>
<p data-ng-show="physical">{{animal.phys_descrip}}</p>
<h4 data-ng-click="size=!size">Size <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></h4>
<p data-ng-show="size">{{animal.size}}</p>
<h4 data-ng-click="geographic=!geographic">Geographic Distribution <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></h4>
<p data-ng-show="geographic">{{animal.geo_distribution}}</p>
<h4 data-ng-click="status=!status">Status <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></h4>
<p data-ng-show="status">{{animal.status}}</p>
<h4 data-ng-click="natural=!natural">Natural Diet <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></h4>
<p data-ng-show="natural">{{animal.natural_diet}}</p>
<h4 data-ng-click="diet=!diet">Zoo Diet <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></h4>
<p data-ng-show="diet">{{animal.zoo_diet}}</p>
<h4 data-ng-click="reproduction=!reproduction">Reproduction <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></h4>
<p data-ng-show="reproduction">{{animal.reproduction}}</p>
<h4 data-ng-click="life=!life">Life Span <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></h4>
<p data-ng-show="life">{{animal.life_span}}</p>
<h4 data-ng-click="behavior=!behavior">Behavior <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></h4>
<p data-ng-show="behavior">{{animal.behavior}}</p>
<h4 data-ng-click="fun=!fun">Fun Facts <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></h4>
<p data-ng-show="fun">{{animal.fun_facts}}</p>
<a href="{{animal.video}}" role='button' class='btn btn-primary' target='_blank'>Video</a>
