<!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">ZoosnapZ</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="zoos#/1">National Zoo</a></li>
          <li><a href="zoos#/1/mammals">Mammals</a></li>
          <li class="active"><a href="#">Reptiles<span class="sr-only">(Current Reptiles Page)</span></a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

<h2>Explore Reptiles</h2>
<div class="form-group">
<input type="text" class="form-control" placeholder="Filter by animal name" data-ng-model="ReptileIndexVM.filter_on" />
</div>

<div class="animals-grid">
  <div class="animals-row" data-ng-repeat="reptile in ReptileIndexVM.reptiles | filter: ReptileIndexVM.filter_on">
    <a data-ui-sref="reptileShow({id: reptile.id})"><img class="square animals-images" data-ng-src="{{reptile.image_one}}" alt="{{reptile.common_name}}"></a>
  </div>
</div>
