/*
*= require bootstrap
*/

body {
  margin-top: 5em;
}

h2 {
  text-align: center;
}

.btn {
  margin: 5px 5px 15px 0px;
}

#buttonrow {
  text-align: center;
  margin: 0 auto;
}

.lightwidget-widget {
  width: 100%;
  border: 0;
  overflow: hidden;
}

.square-img {
  max-width: 15em;
  border-radius: 10px;
}

.animals-grid {
  text-align: center;
  margin: 0 auto;
}

.animals-row {
  display: -webkit-flex;
  display: inline-flex;;
  flex-flow: row wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  align-content: center;
  text-align: center;
}

.animals-images {
  box-sizing: border-box;
  margin: .5em;
}

img.square {
  max-width: 15em;
}

td > p {
  font-size: 1.1em;
}
